.shop_container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    min-height: 100%;
}

.products{
    padding-left: 25px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.summary{
    position: sticky;
    background: #FF990030;
    padding: 15px;
    right: 0;
    
}